<launch>
	<node pkg="dynamic_objects_filter" type="filter_node" name="filter_node" output="screen">
    	<remap from="rgb/image"       to="/camera/rgb/image_color"/>
    	<remap from="depth/image"     to="/camera/depth_registered/image_raw"/>
    	<remap from="rgb/camera_info" to="/camera/depth_registered/camera_info"/>
		<!--param name="frame_id" type="string" value="camera_link" /-->
	</node>
</launch>
